@import './../../globalStyles/variables.scss';

.header {
  .MuiPaper-root {
    padding: $paddingSmall;
  }

  .MuiTextField-root {
    max-width: 600px;
  }

  .MuiFormControl-root {
    .MuiSvgIcon-root {
      cursor: pointer;
      fill: $noteColor;
    }
  }

  .header-item {
    padding: 0 $paddingSmall;
    border-radius: $borderRadius;
    cursor: pointer;
  }

  .header-item:hover {
    background-color: $highLightColor;
  }

  .header-menu-icon {
    .MuiButtonBase-root {
      max-width: 40px;
      max-height: 40px;
      overflow: hidden;
    }
  }
}
